/.vscode
/06-Jun.py
/13-06-22.py
/13-Jul.py
/19-Jun.py
/20-Jun.py
/22 & 26-jun.py
/27-Jun.py
/3-Jul.py
/6-Jul.py
/WHILE,FOR_LOOPS_27th_June.py
/ass-20-Jun.py
/ass-26-jun.py
/ass-3-Jul.py
/ass-6-Jul.py
/ass12-06-22.py
/classwork-19-Jun.py
/cw 26-jun.py
/cw-10-Jul.py
/cw-20-Jun.py
/cw-27-jun.py
/cw2-19-jun.py
/dic.py
/dictionary-ass.py
/if-else excer.py
/indextrial.py
/learn.py
/sptestrun.py